%% Config file for netlink-application
{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R14"}.
{sub_dirs, ["src"]}.
{port_sources, ["c_src/*.c"]}.
{port_envs, [{"CFLAGS", "$CFLAGS -I /usr/local/include/libnl3"},
	     {"LDFLAGS", "$LDFLAGS -L/usr/local/lib -lnl-3 -lnl-cli-3 -lnl-route-3  -Wl,-rpath=/usr/local/lib"}
	     ]}.
