%% Config file for netlink-application
{deps_dir, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{require_otp_vsn, "R14|R15"}.
{sub_dirs, ["src"]}.
{port_env, [
	   {"CFLAGS", "$CFLAGS -Ilibnl/include/libnl3 "},
           %% Force linker to use static libnl libraries when creating the netlink_drv.so file
           %% We do this to store all the necessary code of libnl* in the netlink_drv.so shared
           %% library, thus removing the necessity of having libnl installed on the target
           %% machine.
	   {"LDFLAGS", "$LDFLAGS -Llibnl/lib -lnl-3 -lnl-cli-3 -lnl-route-3"}
           ]}.
{port_specs, [
	      {"(linux)","priv/netlink_drv.so",["c_src/*.c"]}
	     ]}.

{pre_hooks, [{compile, "make"},
             {clean, "make clean"}]}.


